/*
* author: Trương Mạnh Quang (15/07/2023)
*/

.fsize-4 {
	font-size: 4px;
}
.fsize-8 {
	font-size: 8px;
}
.fsize-12 {
	font-size: 12px;
}
.fsize-16 {
	font-size: 16px;
}
.fsize-18 {
	font-size: 18px;
}
.fsize-20 {
	font-size: 20px;
}
.fsize-24 {
	font-size: 24px;
}
.fsize-32 {
	font-size: 32px;
}
